//IMOVEL
.imovel {
  backface-visibility: hidden;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  width: 30%;
  height: 35vw;
  margin-bottom: 4rem;

  @include respond($tab-land) {
    width: 45rem;
    height: 45vw;
  }

  @include respond($tab-port) {
    width: 45rem;
    height: 53rem;
    margin-bottom: 2rem;
    margin-left: 0;
  }

  @include respond($phone) {
    width: 35rem;
    height: 45rem;
    margin-left: 0;
  }

  &:nth-child(2n + 2) {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  img {
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 1rem;
    height: 100%;
  }
  &:hover svg {
    transition: all 0.4s;
    opacity: 1;
  }

  &--placeholder {
    width: 30%;
    visibility: hidden;
    &:nth-child(2n + 2) {
      margin-left: 4rem;
      margin-right: 4rem;
    }

    @include respond($tab-land) {
      display: none;
    }
  }

  &:hover &__info {
    background-color: rgba(41, 41, 41, 0.95);
    visibility: visible;
  }

  &:active &__info {
    background-color: rgba(41, 41, 41, 0.8);
    visibility: visible;
  }

  &__left {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 2rem;
    z-index: 20;
  }

  &__right {
    opacity: 0;
    position: absolute;
    top: 50%;
    right: 2rem;
    z-index: 20;
  }

  &__info {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    border-radius: 1rem;
  }

  &__list {
    align-self: center;
    list-style: none;
    width: 80%;
    position: absolute;
    top: 4rem;

    @include respond($phone) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      text-align: center;
    }

    & > *:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    span {
      display: block;
      line-height: 1.5;
      margin-left: 1rem;
      margin-top: 0.5rem;
      color: var(--color-light);
      font-size: 1.2rem;
      font-family: $text-heading;
      font-weight: 400;
      font-style: italic;
    }
  }

  &__item {
    text-align: center;
    color: var(--color-primary);

    font-size: 1.3rem;
    font-family: $text-heading;
    font-weight: 600;
  }

  &__tipo {
    font-size: 1.4rem;
  }
}
//SIDENAV
.sidenav {
  position: fixed;
  width: inherit;
  padding-right: 1rem;

  @include respond($tab-land) {
    position: static;
    width: 100%;
    display: block;
    padding-right: 0;
  }

  &__list {
    display: none;
    list-style: none;
    & > *:not(:last-child) {
      margin-bottom: 1rem;

      @include respond($tab-land) {
        margin-bottom: 0.5rem;
      }
    }
  }

  &__item {
    height: 3rem;
    span {
      @include spanAnimated {
        background-color: var(--color-primary);
      }
    }

    &:hover span {
      width: 80%;

      @include respond($tab-land) {
        width: 100%;
      }
    }

    @include respond($tab-land) {
      width: 20rem;
      margin: 0 auto 0.5rem auto;
    }
  }

  &__link {
    display: block;
    padding: 0.8rem;
    padding-left: 0;
    @include respond($tab-land) {
      text-align: center;
    }

    &:link,
    &:visited {
      text-decoration: none;
      font-size: 1.4rem;
      color: var(--color-light);
      text-transform: uppercase;
      font-family: $text-heading;
      font-weight: 400;
    }

    &:hover,
    &:active {
    }
  }

  /////
  &__checkbox {
    display: none;
  }

  &__button {
    display: inline-block;
    margin-bottom: 0.5rem;
    background-color: transparent;
    height: 4rem;
    width: 4rem;
    position: relative;
    left: 80%;
    border-radius: 50%;
    z-index: 10;
    text-align: center;
    cursor: pointer;
    transition: all 0.55s linear;

    @include respond($tab-land) {
      left: 90%;
    }
  }

  &__icon {
    position: relative;
    margin-top: 2rem;
    &,
    &::before,
    &::after {
      width: 2rem;
      height: 1.5px;
      background-color: var(--color-light);
      display: inline-block;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
    &::before {
      top: 0;
      transform: rotate(-135deg);
    }
    &::after {
      top: 0;
      transform: rotate(135deg);
    }
  }

  &__checkbox:not(:checked) + &__button {
    left: 15%;

    @include respond($tab-land) {
      left: 90%;
    }
  }
}
//CONTACT
.contactme {
  position: fixed;
  right: 8rem;
  top: 8rem;
  z-index: 1000;
  filter: drop-shadow(5px 3px 0.5rem #000);
  fill: white;
}

//BUTTONS
.conheca {
  position: absolute;
  border: none;
  background-color: var(--color-primary);
  font-family: $text-heading;
  font-weight: 400;
  font-size: 1.4rem;
  align-self: center;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  bottom: 2rem;
  color: var(--color-light);
  opacity: 1;
  cursor: pointer;
  outline: none;
  transition: transform 0.2s;
  text-transform: uppercase;

  &:hover {
    transform: translateY(-1.5px);
  }

  @include respond($phone) {
    display: none;
  }
}
.btn {
  outline: none;
  box-sizing: content-box;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-family: $text-heading;
  font-weight: 400;
  font-size: 1.6rem;
  @include boxshadow;
  cursor: pointer;
  transition: transform 0.2s;

  &:nth-child(1) {
    margin-right: 1rem;
  }

  &--casa {
    background-color: #fff;
    color: var(--color-primary);
    &:hover {
      transform: translateY(-2px);
    }
  }

  &--proprietario {
    align-self: center;
    margin-top: 8rem;
    background-color: var(--color-primary);
    color: var(--color-light);
    &:hover {
      transform: translateY(-2px);
    }
  }

  &--procura {
    text-decoration: none;
    align-self: center;
    background-color: var(--color-primary);
    color: var(--color-light);
    margin-bottom: 4rem;

    &:hover {
      transform: translateY(-1.5px);
    }
  }
}
//POPUP
.popup {
  visibility: hidden;
  display: flex;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;

  &__compare {
    border-radius: 0.5rem;
    float: left;
    height: 95vh;
    position: relative;

    @include respond($tab-land) {
      height: 85vh;
    }

    @include respond($tab-port) {
      height: 80vh;
    }

    @include respond($small) {
      height: 50vh;
    }

    &-img {
      display: block;
      max-height: 100%;
      max-width: 100%;
    }
  }

  &__iframe-box {
    height: 90vh;
    overflow: hidden;
    iframe {
      height: 100%;
    }
  }

  &__left {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 2rem;
    z-index: 20;
  }
  &__right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 2rem;
    z-index: 20;
  }

  //Animates box transition when changing classes with Jquery
  &__box {
    display: flex;
    transform: scale(0.2);
    opacity: 0;
    height: 80%;
    width: 85%;
    background-color: white;
    position: relative;

    @include respond($tab-port) {
      flex-direction: column;
      height: 80%;
    }
  }

  &--open {
    transition-duration: 0.5s;
    transition-property: transform, opacity;
    transform: scale(1);
    opacity: 1;
  }

  &__photos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--color-dark);
    flex: 0 0 61.8%;
    overflow: hidden;

  
    @include respond($tab-port) {
      width: 100%;
      height: 50%;
    }

    img {
      display: block;
      outline: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
  }

  &__description {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40%;
    width: 100%;
    color: var(--color-primary);
    background-color: white;
    padding: 2rem;

    @include respond($tab-port) {
      width: 100%;
      height: 100%;
    }
  }

  &__tipo {
    font-size: 2.2rem;
    min-height: 2rem;
    padding: 1rem;

    align-self: flex-start;
    border-radius: 1rem;
    font-family: $text-heading;
    font-weight: 600;
    line-height: 1;
    border: solid 2px var(--color-primary);
  }

  %description {
    font-family: $text-heading;
    line-height: 1;
  }

  &__price {
    @extend %description;
    height: 4rem !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    flex: 1;
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: auto;
    color: var(--color-primary);

    @include respond($tab-port) {
      height: auto;
    }

    @include respond($tab-port) {
      font-size: 1.5rem;
    }
  }

  &__comment {
    @extend %description;
    width: 100%;
    font-weight: 400;
    line-height: 1.8 !important;
    font-size: 1.4rem;
    height: 80%;
    padding-top: 1rem;
    align-self: flex-start;
    text-align: justify;
    color: var(--color-dark);
  }

  &__details {
    color: var(--color-dark);
    font-family: $text-normal;
    font-weight: 400;
    font-size: 1.4rem;
    margin: 2rem;
    line-height: 1.8;
  }

  &__info {
    position: relative;
    flex: 1;

    .popup__mapa {
      height: 60%;
      iframe {
        display: block;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
      }
    }
  }
}

.popup--visible {
  visibility: visible;
  opacity: 1;
}

.submit {
  background-color: var(--color-success);
  color: var(--color-light);
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 6rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  z-index: 1;
  transition: all 0.2s ease-in;
  svg {
    width: 2rem;
    height: 2rem;
    fill: white;
    display: block;
  }

  &:hover {
    transform: translateY(-1px);
  }
  &:active {
    transform: translateY(1px);
  }
}

.delete {
  background-color: var(--color-darkred);
  color: var(--color-light);
  text-transform: capitalize;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 6rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
  bottom: 3rem;
  right: 10rem;
  z-index: 1;
  transition: all 0.2s ease-in;
  svg {
    width: 2rem;
    height: 2rem;
    fill: white;
    display: block;
  }

  &:hover {
    transform: translateY(-1px);
  }
  &:active {
    transform: translateY(1px);
  }
}

.foto__label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  max-width: 100%;
  cursor: pointer;

  svg {
    height: 3rem;
    fill: white;
  }

  svg:hover {
    fill: darken(white, 25%);
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }
}
