@keyframes fromSide {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
  }

  75% {
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
