.imoveis {
  .viewport-slider {
    display: flex;
    flex-direction: row wrap;
    overflow: hidden;
    height: 50rem;
    width: 50%;
    position: relative;
    margin: 4rem auto;
  }

  &__box {
    position: relative;
    height: 100%;
    &:first-child {
      position: absolute;
      left: -100%;
    }

    &:nth-child(2) {
      position: absolute;
      left: 0;
    }

    &:nth-child(3) {
      position: absolute;
      left: 100%;
    }
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    // margin: 4rem auto;

    @include boxshadow;

    &:first-child {
      float: left;
    }

    img {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
    &:hover svg {
      transition: all 0.4s;
      opacity: 1;
    }
  }

  &__box:hover &__info {
    background-color: rgba(41, 41, 41, 0.8);
    visibility: visible;
  }
  &__left {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 2rem;
    z-index: 20;
  }

  &__right {
    opacity: 0;
    position: absolute;
    top: 50%;
    right: 2rem;
    z-index: 20;
  }

  &__info {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
  }

  &__list {
    align-self: center;
    list-style: none;
    width: 80%;
    position: absolute;
    top: 4rem;

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
    span {
      display: block;
      line-height: 1.5;
      margin-left: 1rem;
      margin-top: 0.5rem;
      color: var(--color-light);
      font-size: 1.2rem;
      font-family: $text-heading;
      font-weight: 400;
      font-style: italic;
    }
  }

  &__item {
    color: var(--color-light);
    font-size: 1.2rem;
    font-family: $text-heading;
    font-weight: 600;
  }

  &__tipo {
    font-size: 1.4rem;
  }
  &__map {
  }
}

.sidenav {
  position: fixed;
  width: inherit;
  padding-right: 1rem;

  &__list {
    display: none;
    list-style: none;
    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__item {
    span {
      @include spanAnimated {
        background-color: var(--color-primary);
      }
    }

    &:hover span {
      width: 80%;
    }
  }

  &__link {
    display: block;
    padding: 0.8rem;
    padding-left: 0;

    &:link,
    &:visited {
      text-decoration: none;
      font-size: 1.4rem;
      color: var(--color-light);
      text-transform: uppercase;
      font-family: $text-heading;
      font-weight: 400;
    }

    &:hover,
    &:active {
    }
  }

  /////
  &__checkbox {
    display: none;
  }

  &__button {
    display: inline-block;

    margin-bottom: 0.5rem;
    background-color: transparent;
    height: 4rem;
    width: 4rem;
    position: relative;
    left: 80%;
    border-radius: 50%;
    z-index: 10;
    text-align: center;
    cursor: pointer;
    transition: all 0.55s linear;
  }

  &__icon {
    position: relative;
    margin-top: 2rem;
    &,
    &::before,
    &::after {
      width: 2rem;
      height: 1.5px;
      background-color: var(--color-light);
      display: inline-block;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
    &::before {
      top: 0;
      transform: rotate(-135deg);
    }
    &::after {
      top: 0;
      transform: rotate(135deg);
    }
  }

  &__checkbox:not(:checked) + &__button {
    left: 15%;
  }
}

.contactme {
  position: fixed;
  right: 8rem;
  top: 8rem;
  z-index: 1000;
  filter: drop-shadow(5px 3px 0.5rem #000);
  fill: white;
}

.btn {
  outline: none;
  box-sizing: content-box;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-family: $text-heading;
  font-weight: 400;
  font-size: 1.4rem;
  @include boxshadow;
  cursor: pointer;
  transition: transform 0.2s;

  &:nth-child(1) {
    margin-right: 1rem;
  }

  &--casa {
    background-color: #fff;
    color: var(--color-primary);
    &:hover {
      transform: translateY(-2px);
    }
  }

  &--proprietario {
    align-self: center;
    margin-top: 8rem;
    background-color: var(--color-primary);
    color: var(--color-light);
    &:hover {
      transform: translateY(-2px);
    }
  }

  &--procura {
    text-decoration: none;
    align-self: center;
    background-color: var(--color-primary);
    color: var(--color-light);
    margin-bottom: 4rem;

    &:hover {
      transform: translateY(-1.5px);
    }
  }
}

//ANIMATIONS//@include

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

//Buttons //

.conheca {
  position: absolute;
  border: none;
  background-color: var(--color-primary);
  font-family: $text-heading;
  font-weight: 600;
  font-size: 1.4rem;
  align-self: center;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  bottom: 2rem;
  color: var(--color-light);
  opacity: 1;
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
  text-transform: uppercase;

  &:hover {
    transform: translateY(-1.5px);
  }
}
