.imoveis {
  &__box {
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    // IN CASE OF MORE HOUSES//
    // &:nth-child(-n + 4) {
    //   margin-bottom: 4rem;
    // }
    // END//
    flex: 0 0 30%;

    @include boxshadow;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }

    img {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
    &:hover svg {
      transition: all 0.4s;
      opacity: 1;
    }
  }

  &__left {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 2rem;
    z-index: 20;
  }

  &__right {
    opacity: 0;
    position: absolute;
    top: 50%;
    right: 2rem;
    z-index: 20;
  }

  &__box:hover &__info {
    opacity: 0.8;
    transition: all 0.2s;
  }

  &__info {
    opacity: 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    background-color: var(--color-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    flex: 0 0 20%;

    p {
      margin-left: 2rem;
      color: white;
      font-family: $text-heading;
      font-weight: 400;

      line-height: 1;
    }
  }
  &__zona {
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
  }

  &__tipo {
    font-size: 1.4rem;
  }
  &__map {
  }
}

.sidenav {
  position: fixed;
  width: inherit;
  padding-right: 1rem;

  &__list {
    display: none;
    list-style: none;
    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__item {
    span {
      @include spanAnimated {
        background-color: white;
      }
    }

    &:hover span {
      width: 70%;
    }
  }

  &__link {
    display: block;
    padding: 0.8rem;
    padding-left: 0;

    &:link,
    &:visited {
      text-decoration: none;
      font-size: 1.4rem;
      color: var(--color-light);
      text-transform: uppercase;
      font-family: $text-heading;
      font-weight: 400;
    }

    &:hover,
    &:active {
    }
  }

  /////
  &__checkbox {
    display: none;
  }

  &__button {
    display: inline-block;

    margin-bottom: 0.5rem;
    background-color: transparent;
    height: 4rem;
    width: 4rem;
    position: relative;
    left: 80%;
    border-radius: 50%;
    z-index: 10;
    text-align: center;
    cursor: pointer;
    transition: all 0.55s linear;
  }

  &__icon {
    position: relative;
    margin-top: 2rem;
    &,
    &::before,
    &::after {
      width: 2rem;
      height: 1.5px;
      background-color: var(--color-light);
      display: inline-block;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
    &::before {
      top: 0;
      transform: rotate(-135deg);
    }
    &::after {
      top: 0;
      transform: rotate(135deg);
    }
  }

  &__checkbox:not(:checked) + &__button {
    left: 15%;
  }
}

.contactme {
  position: fixed;
  right: 8rem;
  top: 8rem;
  z-index: 1000;
  filter: drop-shadow(5px 3px 0.5rem #000);
  fill: white;
}

.btn {
  outline: none;
  box-sizing: content-box;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-family: $text-heading;
  font-weight: 400;
  font-size: 1.4rem;
  @include boxshadow;
  cursor: pointer;
  transition: transform 0.2s;

  &:nth-child(1) {
    margin-right: 1rem;
  }

  &--casa {
    background-color: #fff;
    color: var(--color-primary);
    &:hover {
      transform: translateY(-2px);
    }
  }

  &--proprietario {
    background-color: var(--color-primary);
    color: var(--color-light);
    &:hover {
      transform: translateY(-2px);
    }
  }
}

//ANIMATIONS//@include

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}
