// .header__scroll {
//   position: absolute;
//   height: 20rem;
//   width: 20rem;
//   bottom: 4rem;
//   transform: scaleX(-50%);
//   left: 50%;
//   @include textshadow;
// }

.white {
  fill: white;
}

.red {
  fill: #d93240;
}

.dark {
  fill: var(--color-dark);
}

.left {
  @include icon;
  left: 15%;
}

.right {
  @include icon;
  right: 15%;
}
.bulletpoint {
  width: 3.2rem;
  height: 3.2rem;
  fill: black;
}

.footer__svg {
  width: 3rem;
  height: 3rem;
}

.header__logo {
  display: block;
}
.icon {
  display: inline-block;
  background-repeat: no-repeat;
}

.icon-cross {
  box-sizing: content-box;
  padding: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  z-index: 1000;
  right: -1.3rem;
  top: -1.3rem;
  fill: white !important;
  background-color: var(--color-dark);
  border-radius: 50%;
  border: 1px solid white;
}

.icon-circle-down {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transform: scale(1);
  animation: pulse 0.5s ease-out infinite alternate;
  background-position: -384px 0;
}

.icon-home {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.icon-profile {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.icon-location {
  width: 32px;
  height: 32px;
  background-position: -96px 0;
}
.icon-mobile {
  background-position: -144px 0;
  fill: var(--color-light);
}

.icon-whatsapp {
  background-position: -144px 0;
  fill: #1ebea5;
  transform: scale(1.25);
  margin-right: 0.4rem;
}
.icon-bubble {
  width: 32px;
  height: 32px;
  background-position: -192px 0;
}
.icon-bubbles {
  width: 36px;
  height: 32px;
  background-position: -240px 0;
}
.icon-spinner3 {
  width: 32px;
  height: 32px;
  background-position: -288px 0;
}

.icon-circle-up {
  width: 32px;
  height: 32px;
  background-position: -384px 0;
}
.icon-circle-right {
  width: 32px;
  height: 32px;
  background-position: -432px 0;
}

.icon-circle-left {
  width: 32px;
  height: 32px;
  background-position: -528px 0;
}
.icon-mail4 {
  width: 32px;
  height: 32px;
  background-position: -576px 0;
}
.icon-google-plus3 {
  width: 32px;
  height: 32px;
  background-position: -624px 0;
}
.icon-facebook {
  background-position: -672px 0;

  fill: #4267b2;
}
.icon-twitter {
  width: 32px;
  height: 32px;
  background-position: -720px 0;
}
.icon-rss {
  width: 32px;
  height: 32px;
  background-position: 0 -48px;
}
.icon-linkedin {
  width: 32px;
  height: 32px;
  background-position: -48px -48px;
}
