<div class="admin__container">
    <div class="admin__navigation">
        <h1 class="admin__dash-title">Dashboard</h1>
        <div class="admin__pic">
            <img src="/assets/users/admin/admin.jpg" alt="admin">
        </div>
        <div class="admin__end">
            <svg class="icon-off">
                <use xlink:href="#off"></use>
            </svg>
        </div>
    </div>
    <div class="admin__content" id="admin__content">
        <h1 class="admin__title">Editar Casas</h1>
        <div class="home__wrap">
            <div class="home__exists">

            </div>
            <form class="home__form" enctype="multipart/form-data" name="home-form" id="add_home" autocomplete="off"
                autocorrect="off">
                <div class="home__foto">
                    <label for="casaupload" class="foto__label">
                        <svg>
                            <use xlink:href="#icon-upload"></use>
                        </svg>
                    </label>
                    <input type="file" class="foto__input" name="casa" id="casaupload" required>
                </div>
                <div class="home__fields">
                    <div class="home__numero">
                        <input type="hidden" name="numero" value="" id="numero" required>
                    </div>
                    <div class="home__nome">
                        <input type="text" name="nome" placeholder="Nome..." required autocomplete="off">
                    </div>
                    <div class="home__tipologia">
                        <input type="text" name="tipologia" placeholder="Tipologia..." required autocomplete="off">
                    </div>
                    <div class="home__wc">
                        <input type="text" name="wc" placeholder="WC..." required autocomplete="off">
                    </div>

                    <div class="home__zona">

                        <input type="text" name="zona" placeholder="Zona..." required autocomplete="off">
                    </div>

                    <div class="home__morada">
                        <input type="text" name="morada" placeholder="Morada..." required autocomplete="off">
                    </div>
                    <div class="home__proximo">
                        <input type="text" name="proximo" placeholder="Próximo..." required autocomplete="off">
                    </div>
                    <div class="home__mapa">
                        <input type="text" name="mapa" placeholder="Mapa..." required autocomplete="off">
                    </div>
                    <div class="home__checkboxes">
                        <div class="home__mobilado">
                            <label for="mobilado">Mobilado & Equipado:</label>
                            <input type="checkbox" name="mobilado">
                        </div>
                        <div class="home__netTv">
                            <label for="netTv">Net & TV:</label>
                            <input type="checkbox" name="netTv">
                        </div>
                    </div>
                </div>
                <div class="home__buttons">
                    <div class="home__edit" data-id="" data-modal="#divisoes">
                        <button type="button">
                            <svg>
                                <use xlink:href="#edit"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="home__submit">
                        <button type="submit">
                            <svg>
                                <use xlink:href="#save"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="popup" id="divisoes">
        <div class="popup__box">
            <a href="javascript:void(0)" class="close">
                <svg class="icon icon-cross popup__close">
                    <use xlink:href="#icon-cross"></use>
                </svg>
            </a>
            <div class="popup__admin">
                <div class="popup__edit">
                    <h1 class="popup__title popup__title--divisoes">Divisões</h1>
                    <form method="post" class="popup__form" data-id="">
                        <div class="popup__form-divisao">
                            <label for="divisao">Divisão:</label>
                            <select name="divisao" id="divisao">

                            </select>
                        </div>
                        <div class="popup__form-tipo">
                            <label for="tipo">Tipo:</label>
                            <input type="text" name="tipo" id="tipo" required>
                        </div>
                        <div class="popup__form-numero">
                            <label for="div__numero">Numero:</label>
                            <input type="number" name="numero" id="div__numero" required>
                        </div>
                        <div class="popup__form-descricao">
                            <label for="descricao">Descrição:</label>
                            <textarea name="descricao" id="descricao" cols="30" rows="5"></textarea>
                        </div>
                        <div class="popup__form-preco">
                            <label for="preco">Preço:</label>
                            <input type="number" name="preco" id="preco" required>
                        </div>
                        <div class="popup__form-disponivel">
                            <label for="disponivel">Disponível:</label>
                            <input type="checkbox" name="disponivel" id="disponivel" required>
                        </div>
                        <div class="popup__form-quando">
                            <label for="quando">Quando:</label>
                            <input type="text" name="quando" id="quando">
                        </div>


                        <button type="button" class="delete" id="editDelete">
                            <svg>
                                <use xlink:href="#delete"></use>
                            </svg>
                        </button>
                        <button type="button" class="submit" id="editSubmit">
                            <svg>
                                <use xlink:href="#save"></use>
                            </svg>
                        </button>
                    </form>
                </div>

                <div class="popup__editPhotos">

                    <form enctype="multipart/form-data" class="popup__fotos-form">
                        <div class="fotos__foto fotos__foto--add">
                            <label for="fotos__divisao" class="foto__form-label foto__form-label--add">
                                <svg>
                                    <use xlink:href="#icon-upload"></use>
                                </svg>

                            </label>
                            <input type="file" name="fotos" id="fotos__divisao" multiple required>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{> externals}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://terrylinooo.github.io/jquery.disableAutoFill/assets/js/jquery.disableAutoFill.min.js"></script>