.navigator {
  position: relative;
  width: 25rem;
  padding: 2.5rem 1rem;
  background-color: var(--color-dark);

  &--closed {
    width: 8rem;
    padding: 2.5rem 1rem;
    background-color: var(--color-dark);
  }
}

.content {
  flex: 1;
  .header__container {
    position: relative;

    .header__background {
      width: 100%;
      min-height: 100vh;
      background-image: url(../imgs/houses.jpg);
      background-size: cover;
      filter: brightness(50%) blur(0.5px);
      background-position: center;
      background-attachment: fixed;
      overflow: hidden;
    }

    .header {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;

      &__logo {
      }

      &__title {
        display: block;
        color: white;
        @extend %title;
        font-weight: 600;
        margin-bottom: 2rem;
        font-size: 3rem;
        @include textshadow;
      }

      &__subtitle {
        font-size: 2.5rem;
        display: block;
        color: white;
        font-weight: 300;
      }

      &__btn {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .header__arrow-down {
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
    }
  }

  .about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--color-primary);
    background-color: var(--color-light);

    &__title {
      @extend %title;
      font-size: 3rem;
      font-weight: 600;
      padding-top: 8rem;
      text-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
    }

    &__text {
      width: 80%;
      margin: 4rem auto;
      font-family: $text-normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2.5;
      text-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
    }
  }

  .servicos {
    background-image: linear-gradient(
        to right bottom,
        rgba(#000, 0.1),
        rgba(#000, 0.9)
      ),
      url(../imgs/bg.jpg);
    background-size: cover;
    background-attachment: fixed;

    position: relative;
    padding: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__box {
      flex: 0 0 30%;
    }
    &__card {
      background-color: var(--color-light);
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: content-box;
      border-radius: 5px;
      overflow: hidden;
      // padding: 2rem;
      height: 48rem;
      // border: solid 1px #0b1b1f;
    }
    &__title {
      width: 100%;
      color: var(--color-light);
      font-family: $text-heading;
      text-transform: uppercase;
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      font-weight: 600;
      background-color: var(--color-dark);
    }
    &__description {
      color: var(--color-dark);
      font-size: 1.6rem;
      font-family: $text-normal;
      line-height: 1.7;
      padding: 2rem;
      font-style: italic;
    }

    &__accordion {
      width: 100%;
      padding-left: 2rem;
    }

    &__sub {
      display: block;
      margin-bottom: 2rem;
      font-size: 1.8rem;
      font-family: $text-heading;
      font-weight: 600;
      color: var(--color-secondary);
      outline: none;
      cursor: pointer;
    }

    &__sub-box {
    }

    &__list {
      list-style: none;
      padding-left: 2rem;
    }
    &__item {
      margin-bottom: 2rem;
      font-family: $text-normal;
      font-size: 1.5rem;
      font-weight: 400;
      &::before {
        content: "\2192";
        margin-right: 1rem;
        color: var(--color-primary);
      }
    }
  }
}
.imoveis {
  display: flex;
  padding: 4rem;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: var(--color-light);
}

.popup {
  visibility: hidden;
  display: flex;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  &__left {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 2rem;
    z-index: 20;
  }
  &__right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 2rem;
    z-index: 20;
  }
  &:target {
    visibility: visible;
    opacity: 1;
  }
  &:target &__box {
    transform: scale(1);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
    background-color: var(--color-light);
    opacity: 1;
  }
  &__box {
    height: 80vh;
    flex-basis: 85%;

    border-radius: 5px;
    display: flex;
    transform: scale(0.4);
    opacity: 0.2;
  }
  &__photos {
    position: relative;
    background-color: var(--color-dark);
    flex: 0 0 60%;

    img {
      display: block;
      height: 100%;
      max-width: 100%;
      margin: 0 auto;
      outline: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    background-color: var(--color-dark);
    opacity: 0.8;

    p {
      margin-left: 2rem;
      color: white;
      font-family: $text-heading;
      font-weight: 400;
      line-height: 1;
    }
  }

  &__tipo {
    font-size: 1.8rem;
  }
  &__info {
    flex: 1;
    iframe {
      display: block;
      width: 100%;
      height: 100%;
      // max-width: 100%;
    }
  }
}
.faq {
  padding: 2rem 8rem 2rem 2rem;
  &__accordion {
    overflow-y: auto;
    h3 {
      font-family: $text-heading;
      font-size: 2rem;
      color: var(--color-dark);
      font-weight: 600;
      margin-bottom: 2rem;
      outline: none;
      cursor: pointer;

      padding: 1rem;
    }
  }
  &__collapse {
    border-radius: 5px;
  }
  &__list {
    margin-left: 3rem;
    list-style: none;
  }
  &__item {
    margin-bottom: 1rem;
    p {
      font-family: $text-normal;
      font-size: 1.8rem;
      line-height: 1.8;
      width: 100%;
      font-weight: 400;

      &::before {
        content: "\2192";
        margin-right: 1rem;
        color: var(--color-dark);
      }
    }
  }
}
.footer {
  display: flex;
  flex-direction: column;
  height: 30vh;
  background-color: rgb(231, 231, 231);
  align-items: center;
  justify-content: center;

  &__nav {
    display: flex;
    margin-bottom: 1rem;
    border-bottom: 1px solid #0b1b1f;
    padding-bottom: 1rem;
    width: 19rem;
    justify-content: center;
  }

  &__links {
  }

  &__links:hover,
  &__links:active {
    svg {
      fill: darken(white, 30%);
    }
  }

  &__copy {
    color: var(--color-dark);
    margin-bottom: 1rem;

    p {
      font-size: 1.4rem;
      font-family: $text-normal;
      font-weight: 400;
    }
  }

  &__policy {
    color: var(--color-secondary);
    text-decoration: none;
    font-size: 1.2rem;
    font-family: $text-normal;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__policy:hover,
  &__policy:active,
  &__policy:visited {
    color: purple;
  }
}
