<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126122022-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-126122022-1');
</script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Mastermind">
<meta name="description"
    content="Procura casa em Coimbra ou é proprietário? Conheça os nossos serviços, e saiba como podemos ajudá-lo a cuidar da sua moradia ou encontrar um local para morar em Coimbra.">
<meta name="keywords"
    content="Casas, alugar, coimbra, proprietario, residencias, moradias, centro, zona, concierge, conciergerie, gestao, arrendamentos, apartamento, imovel, erasmus, portugal, property, management, rental, house, apartment, city">
<meta name="google-site-verification" content="ujnLU20WJVDOoP1Qfh8N9fgqHcV0AIlZLxqao9DBTxM" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="format-detection" content="telephone=no">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d93240">
<meta name="msapplication-TileColor" content="#b91d47">
<meta name="theme-color" content="#ffffff">
<title>Casas Coimbra - Cuidamos da sua casa como se fosse nossa</title>