html {
  font-size: 62.5%;
  ::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
  }
  /* optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: #ff0000;
  }
  @include respond($big-desktop) {
    font-size: 70%;
  }

  @include respond($tab-port) {
    font-size: 55%;
  }

  @include respond($phone) {
    font-size: 45%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  display: flex;
}


