@mixin boxshadow {
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
}

@mixin textshadow {
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}

@mixin spanAnimated {
  display: block;
  width: 0;
  height: 1px;
  transition: all 0.3s;
  line-height: 2px;
  transition-timing-function: ease-in;
  @content;
}

@mixin icon {
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 50%;
  cursor: pointer;
  padding: 2rem;
  box-sizing: content-box;
  z-index: 10;
}

@mixin respond($breakpoint) {
  @if $breakpoint == $big-desktop {
    @media only screen and (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @media only screen and (max-width: $breakpoint) {
      @content;
    }
  }
}
