//VARIABLES//
:root {
  --color-primary: #d93240;
  --color-secondary: #2193b0;
  --color-bg: #d8f1f1;
  --color-bg-2: #96cdcd;
  --color-dark: #0b1b1f;
  --color-light: #faf8f5;
  --color-light-2: #e0e0e0;
  --color-success: #269442;
  --color-darkred: #6f0000;
}

$small: 30em;
$phone: 42.5em;
$tab-port: 73.125em;
$tab-land: 78.125em;
$big-desktop: 112.5em;
